<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>MyFreeCssTemplates.com free CSS template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="nivo-slider.css" type="text/css" media="screen" />
</head>
<body>

<div id="main">
<!-- header begins -->
<div id="header">
	<div id="buttons">
    <a href="index.html" class="but"  title="">Login</a><div class="but_razd"></div>
    <a href="index.html" class="but"  title="">Home</a><div class="but_razd"></div>
    <a href="products.html" class="but" title="">Products</a><div class="but_razd"></div>
    <a href="about.html"  class="but" title="">About us</a><div class="but_razd"></div>
    <a href="contact.html" class="but" title="">Contact us</a>
  </div>
	<div id="logo">
    	<b><a href="#">BMCC ELECTRONICS</a></b>
      	<h2><a href="#"><small>Small Company Slogan Goes Here</small></a></h2>
    </div>
   
</div>
<!-- header ends -->
    <div class="top">
    	
		<div id="slider-wrapper">        
            <div id="slider" class="nivoSlider">
                <img src="images/top.jpg" alt="" />
                <img src="images/top2.jpg" alt=""/>
                <img src="images/top3.jpg" alt="" />
            </div>
			        
        </div>

<script type="text/javascript" src="lib/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="lib/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
		
    </div>
    <div style="height:10px"></div>
        <!-- content begins -->
       			<div id="content">
                	<div id="left">
                        <h1>Welcome to Our Website</h1>
                        <div style="height:10px"></div>
                        <img src="images/img1.jpg" class="img_l"  alt="" />
                        <span class="span_cont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </span><div style="height:3px"></div>Nullam id risus at orci ornare suscipit. Quisque condimentum feugiat nisl nec molestie. Donec sed metus at justo hendrerit euismod. Nulla luctus orci et erat dictum laoreet volutpat nisi interdum. <br />
                        Cras mollis, libero in lacinia blandit, justo augue pretium est, a viverra orci risus gravida arcu. Vivamus gravida, sem sed luctus accumsan, dui arcu fermentum arcu, vel luctus
                        <div style="height:20px"><a href="#" class="read">read more</a></div>
                       	
                        <div style="height:30px"></div>
                        <h1>Nullam Elementum Bibendum</h1>
                        <div style="height:10px"></div>
                      	<img src="images/img2.jpg" class="img_l"  alt="" />
                        <span class="span_cont">Nullam elementum bibendum arcu a volutpat. </span>
                        <div style="height:3px"></div>
                        In elit quam, ullamcorper eu pretium non, dictum non orci. Proin tincidunt, felis nec tristique suscipit, urna neque tincidunt diam, a malesuada lectus velit at nisi. Mauris aliquam risus et lacus volutpat in congue metus pharetra. Nullam vel turpis est. Suspendisse felis dolor, porta eget suscipit vel, vestibulum eget erat. Donec feugiat feugiat consequat. Praesent interdum, felis eget ultricies fermentum, arcu eros fringilla felis, sit amet mollis odio tortor ut commodo neque euismod. Nam nec dolor id dolor porttitor sollicitudin. In varius interdum condimentum. Nunc eu justo mi. Vivamus a erat eget lacus iaculis faucibus. Vivamus egestas lacinia eros, sit amet lacinia tortor 
                  		<div style="height:20px"><a href="#" class="read">read more</a> </div>
                    </div>
                    <div id="right">
                   	  	<h2>Maecenas Porttitor Elit a Quam</h2>
                        <div style="height:10px"></div>
                      	<img src="images/img3.jpg" class="img_l"  alt="" />
                        <span class="span_cont">Nam nec dolor id dolor porttitor sollicitudin. 
                        </span><div style="height:3px"></div>
                        In varius interdum condimentum. Nunc eu justo mi. Vivamus a erat eget lacus iaculis faucibus. Vivamus egestas lacinia eros, sit amet lacinia tortor varius nec. Mauris eleifend, vehicula mauris quis risus molestie sed mattis massa dapibus. Donec dapibus est a elit sagittis euismod.
                        <a href="#"><img src="images/a_fish.gif" alt="" /></a>
                        
                        <div style="height:20px"></div>
                        <h2>Donec Sit Amet Diam Quis</h2>
                        <div style="height:10px"></div>
                   	  <img src="images/img4.jpg" class="img_l"  alt="" />
                        <span class="span_cont">Etiam enim tortor, blandit nec faucibus sed, egestas ac odio.</span><br /><br />
                        Phasellus eu aliquam mauris. Sed eleifend erat sit amet justo ultrices ut vulputate lorem tincidunt. Mauris ac orci eu dui laoreet aliquet. Maecenas 
                        <a href="#"><img src="images/a_fish.gif" alt="" /></a>
                        
                   	  <div style="height:20px"></div>
                        <h2>Etiam Sit Amet Libero </h2>
                      	<div style="height:10px"></div>
                      	<img src="images/img5.jpg" class="img_l"  alt="" /><span class="span_cont">Fusce nec augue vitae velit imperdiet tincidunt. </span>
                   	  <div style="height:3px"></div>
                        Cras malesuada, libero ut lobortis faucibus, felis tellus fermentum lacus, euismod tristique nisi risus dapibus felis. Curabitur sit amet nibh vitae ante fermentum lobortis vitae nec mauris. Fusce eget turpis diam. Vestibulum convallis vestibulum volutpat. Nam in elementum mi.
                        <a href="#"><img src="images/a_fish.gif" alt="" /></a>
                        
                        
                  </div>
                    <div style="clear:both"></div>
                    
                    
        		</div>
    <!-- content ends --> 
    <div style="height:15px"></div>
    <!-- bottom begin -->
    <div id="bottom_bot">
    <div id="bottom">
      <div style="clear: both; height:20px;"></div>
    </div>
    </div>
<!-- bottom end --> 
<!-- footer begins -->
            <div id="footer">
          		<div style="float: left; width: 500;">
                	Copyright  2011. <!-- Do not remove -->Designed by <a href="http://www.metamorphozis.com/free_templates/free_templates.php" title="Free Web Templates">Free Web Templates</a>, coded by <a href="http://www.myfreecsstemplates.com/" title="Free CSS Templates">Free CSS Templates</a><!-- end --><br />
                	<a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a>
             	</div>
                <div style="float: right; width: 500; padding: 0px 0px 0px 0px;">
                	<a href="#"><img src="images/fu_i5.gif" class="fu_i" alt="" /></a>
                    <a href="#"><img src="images/fu_i4.gif" class="fu_i" alt="" /></a>
                    <a href="#"><img src="images/fu_i3.gif" class="fu_i" alt="" /></a>
                    <a href="#"><img src="images/fu_i2.gif" class="fu_i" alt="" /></a>
                    <a href="#"><img src="images/fu_i1.gif" class="fu_i" alt="" /></a>
                </div>
             </div>
        <!-- footer ends -->
</div>


</body>
</html>
